.all_category {
  border: 1px solid rgb(230, 230, 230);
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.05);
  margin: 10px auto;
  max-width: 800px;
}

.category_header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 18px;
}

.icon {
  font-size: 20px;
  color: #0088FE;
}

.subtitle {
  font-size: 14px;
  color: #555;
  margin: 5px 0 20px 0;
}

.chart_container {
  width: 100%;
  height: 300px;
}
