
.searchWrapper {
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(100% - 20px); 
    margin-left: 10px;
    padding-right: 10px;
}

.searchIcon {
    position: absolute;
    left: 12px;
    color: #9ca3af;
    font-size: 16px;
    pointer-events: none; 
}

.input {
    width: 100%;
    padding: 8px 12px 8px 36px; 
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    font-size: 14px;
    font-family: Inter, sans-serif;
    outline: none;
    transition: border-color 0.2s ease;
    background-color: rgb(248, 248, 248);

}

.input:focus {
    border: 1.5px solid #8a80f293;

}