.containerBox{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.boxCard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    background-color: blueviolet;
    padding: 1rem;
    border-radius: 0.5rem ;
    border: 1px solid #E5E7EB;
    background-color: #FFFFFF;
    width: 20%;
}