.performance_container_all {
  max-width: 400px;
  margin: 10px auto;
  border: 1px solid rgb(230, 230, 230);
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
.lebel_1 {
    font-family: Inter;
    font-size: 21px;
    color: rgb(20, 20, 20);
    font-weight: 600;
}
.lebel_2 {
    padding-top: 2px;
    font-family: Inter;
    font-size: 13px;
    color: rgb(100, 100, 100);
    font-weight: 300;
    text-align: left;
}
.scroll_display {
    display: flex;
  flex-direction: column; 
  gap: 10px;
  padding-top: 10px;
  overflow-x: auto;
}
.level_one {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 колонок */
  gap: 20px;
  padding: 8px 0;
  border-bottom: 1px solid #e6e6e6;
}
.category_name_text {
    font-family: Inter;
    font-size: 11px;
    color: rgb(105, 105, 105);
    font-weight: 500;
    white-space: nowrap;
}