.container_admin{
    height: 100px;
}

.container_title{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.title{
    color: #6065fa;
    font-size: 2rem;
}
.text{
    opacity: 50%;
}

@media (max-width: 724px) {
    .title{
        font-size: 24px;
    }
}


