.containerInput {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E5E7EB; /* светло-серый */
    border-radius: 0.75rem;
    background-color: #F9FAFB;
    padding: 10px;
    gap: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.inputAnalitic {
    margin: 5px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px 12px;
    gap: 8px;
    border: 1px solid #E5E7EB;
    border-radius: 0.5rem;
  #
    color: #111827;
    transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .containerInput {
        flex-direction: column;
    }

    .inputAnalitic {
        font-size: 14px;
    }
}
