.status_list {
    width: calc(100% - 10px);
    height: 40px;
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}
.status_item {
    display: flex;             
    align-items: center;           
    justify-content: center;       
    font-family: Inter;
    font-size: 12px;
    color: rgb(80, 80, 80);
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(248, 248, 248);
    padding: 8px 12px;              
    gap: 6px; 
}

.image_icon {

}
.status_item_selected {
     background: linear-gradient(45deg, #6065fa, #937ed5);
     color: white;
}
.status_item:hover {
    cursor: pointer;
}