.status_container {
    width: calc(100% - 10px);
    margin-bottom: 20px;
}

.current_status {
    margin: 0 0 8px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    color: rgb(95, 95, 95);
}

.status_list {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
}
.status_item {
    display: flex;             
    align-items: center;           
    justify-content: center;       
    font-family: Inter;
    font-size: 12px;
    color: rgb(80, 80, 80);
    outline: none;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
    background-color: rgb(248, 248, 248);
    padding: 8px 12px;              
    gap: 6px; 
}

.image_icon {

}
.status_item_selected {
     background: linear-gradient(45deg, #6065fa, #937ed5);
     color: white;
     border-color: transparent;
     box-shadow: 0 4px 12px rgba(96, 101, 250, 0.25);
}
.status_item:hover {
    cursor: pointer;
}
