.ticketStat {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: white;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 12px;
    padding: 12px 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.topRow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%; 
}

.iconWrapper {
    color: #6065fa;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    padding-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.label {
    padding-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #6b7280;
    margin-top: 4px;
    text-align: center;
    width: 100%;
}
