.containerPyramid{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.containerDiag{
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #E5E7EB;
  font-family: 'Inter', sans-serif;
  width: 50%;
}


.boxPyramidText{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.boxExample{
  margin: 20px;
}

.spanTitle{
  font-size: 24px;
  font-weight: 600;
}

@media (max-width:724px) {
  .containerPyramid {
    flex-wrap: wrap;
  }
  .containerDiag{
    width: 100%;
  }
}